---
import Hamburger from './Hamburger.astro';
import Navigation from './Navigation.astro';
---
<style>
    header{
        background-color: purple;
        margin: 1rem 0rem 1rem 0rem;
        padding: 1rem;
    }
</style>
<header>
    <nav>
        <Hamburger/>
        <Navigation/>
    </nav>
</header>