---
---
<style>
    a{
        color: white;
        text-decoration: none;
        padding: 1rem;
    }
</style>
<div class="nav-links">
    <a href="/">Home</a>
    <a href="/about/">About</a>
    <a href="/blog/">Blog</a>
</div>